// Body
$body-bg: #f8fafc;

//Main Colors
$aqua: #00FFFF;
$сoral: #F08080;

/* Color Theme Swatches in Hex */
$море-1-hex: #023059;
$море-2-hex: #0597F2;
$море-3-hex: #BBDDF2;
$море-4-hex: #05AFF2;
$море-5-hex: #0378A6;


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 20px;
$line-height-base: 1.6;

//shadows
$shadow: 0 5px 5px 3px #eaeaea;
