@import 'variables';

.about{
    h2{
        font-size: 35px;
    }
    padding: 60px 0;
}

.about-site{
    font-size: 25px;
}

.aboutHistory{
    font-size: 23px;
    b{
        color: $море-1-hex;
    }
    .aboutHistory-images{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 30px;
        .aboutHistory-image{
            img{
                width: 350px;
                height: auto;
            }
            figcaption{
                font-size: 25px;
                background-color: $море-2-hex;
                color: white;
                border-radius: 0 0 10px 10px;
            }
            text-align: center;
            padding: 10px;
            border: 1px solid $море-5-hex;
            border-radius: 10px;
        }
    }
    cite a{
        color: $море-2-hex;
    }
}

.contact-form{
    display: flex;
    flex-direction: column;
    &-input{
        cursor: pointer;
        font-size: 20px;
        background-color: #0597F2;
        width: 10%;
        padding: 20px 20px;
        border-radius: 10px;
        text-transform: uppercase;
        color: white;
    }
    form{
        display: flex;
        flex-direction: column;
        input{
            padding: 10px 15px;
            width: 40%;
            height: 50px;
            margin-bottom: 20px;
            font-size: 20px;
            box-shadow: 0 5px 5px 3px #eaeaea;
        }
        textarea{
            padding: 10px 15px;
            font-size: 20px;
            box-shadow: 0 5px 5px 3px #eaeaea;
            margin-bottom: 35px;
            resize: none;
        }
    }
}
