// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'variables';
@import 'about';
@import 'fish';
@import 'another';
@import 'plants';
@import 'aquariums';
@import 'news';
@import 'helpful';
@import 'fishMembers';
@import "PlantsMembers";
@import 'forms';
body{
    font-family: $font-family-sans-serif;
    background: $body-bg;
    font-size: $font-size-base;
}
b{
    color: $море-1-hex;
}

p{
    text-align: justify;
}

.helpful-item:hover,.another-type:hover,
.fish-type:hover,.news-item:hover,.plantMember:hover{
    outline: 3px solid red;
}

.container {
    width: 80%;
    margin: 0 auto;
}

::-webkit-scrollbar{
    width: 8px;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
}
::-webkit-scrollbar-thumb {
    background-color: $море-2-hex;
}

.title-2{
    margin: 0;
    padding: 0;
}

.auth-active{
    background-color: $море-2-hex;
    color: white;
}


.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    .navigation-container{
        display: flex;
        .navigation-header {
            ul{
                display: flex;
                text-decoration: none;
                list-style: none;
                li{
                    margin-right: 50px;
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
        .logo{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 200px;
                height: 63px;
            }
        }
    }
    .AuthContainer{
        display: flex;
        align-items: center;
        list-style: none;
        a{
            cursor: pointer;
            margin-right: 25px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}

.promo{
    background-image: url("../images/promo-bg.png");
    background-size: cover;
    width: 100%;
    height: 800px;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 60px;
    & > * {
        position: absolute;
    }
    .promo-center {
        left: 50%;
        top: 50%;
        text-align: center;
        color: $aqua;
        font-size: 25px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        p{
            text-align: left;
            text-transform: none;
            span{
                line-height: 200px;
                font-style: italic;
            }
        }
    }
    .promo-btn{
        border: 2px solid $aqua;
        border-radius: 15px;
        background: none;
        transition: all 0.4s ease-in;
        display: inline-block;
        a{
            display: inline-block;
            padding: 20px 15px;
        }
        &:hover{
            background-color: $aqua;
            color: #f522cb;
        }
    }
}

.main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    &-left{
        width: 70%;
        &-content{
            &__inner{
                margin-bottom: 60px;
            }
            .news-more-btn{
                display: flex;
                justify-content: center;
                > a{
                    display: block;
                    background: $aqua;
                    padding: 10px;
                    border-radius: 10px;
                    color: $сoral;
                    text-transform: uppercase;
                    font-weight: bold;
                    margin-bottom: 60px;
                }
            }
            hr{
                border: 1px solid #b0aeae;
                margin-bottom: 40px;
            }
            border-radius: 10px;
            padding: 10px 20px;
        }
    }
    &-right{
        text-align: center;
        width: 28%;
        hr{
            border: 1px solid #b0aeae;
            margin-bottom: 40px;
            width: 100%;
        }
        &-content{
            border-radius: 10px;
            padding: 10px 20px;
            & > div{
                margin-bottom: 60px;
            }
            &-title{
                margin: 0;
                padding: 0;
            }
            &-likely{
                display: flex;
                flex-direction: column;
                align-items: center;
                .likely-articles{
                    display: flex;
                    flex-direction: column;
                    .likely-article{
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 40px;
                        padding-bottom: 20px;
                        background-color: #f5f5f5;
                        box-shadow: $shadow;
                        &-banner{
                            padding: 0 25px;
                            img{
                                width: 100%;
                                height: auto;
                            }
                        }
                        &-title{
                            h3{
                                margin: 0;
                                padding: 0;
                            }
                        }
                    }
                }
            }
            &-random{
                .random-article{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: #f5f5f5;
                    box-shadow: $shadow;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
            &-statistic{
                .statistic{
                    text-align: center;
                    ul{
                        text-align: left;
                        padding: 0 20px;
                        margin: 0;
                        list-style: none;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 30px 20px;
                        li{
                            display: flex;
                            align-items: center;
                            span{
                                margin-left: 10px;
                            }
                        }
                        li::before{
                            margin-right: 10px;
                            content: '';
                            display: block;
                            width: 20px;
                            height: 20px;
                            background-color: $море-1-hex;
                        }
                    }
                }
            }
        }
    }

}

.news-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    background-color: #f5f5f5;
    box-shadow: $shadow;
    &:last-child{
        margin-bottom: 0;
    }
    &-title{
        font-size: 25px;
        margin: 0;
    }
    .news-card-center{
        display: flex;
        margin-bottom: 10px;
        flex-direction: column;
        >div:not(.news-card-bg), h3{
            padding: 0 30px;
        }
        h4{
            text-align: center;
            font-size: 20px;
        }
        .news-card-bg{
            text-align: center;
            width: 100%;
            span{
                display: block;
                width: 100%;
                height: 400px;
                transition: all 0.3s ease-in;
                background-position: center;
                background-size: 100%;
                background-repeat: no-repeat;
                &:hover{
                    background-size: 50%;
                }
            }

        }
    }
    .news-card-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px 30px 30px;
        .news-card-button{
            border: 1px solid $сoral;
            padding: 10px;
            border-radius: 20px;
        }
    }
}

.auth{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9002;
    &-wrapper{
        background: rgba(0,0,0,0.7);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
    &-container{
        display: flex;
        flex-direction: column;
        background: #ffffff;
        color: black;
        width: 600px;
        height: auto;
        border-radius: 10px;
        position: relative;
        .auth-btn{
            font-size: 20px;
            background-color: $море-2-hex;
            width: auto;
            padding: 20px 20px;
            border-radius: 10px;
            text-transform: uppercase;
            color: white;
            grid-column: 1 / span 2;
        }
        .auth-switchers{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: auto;
            text-align: center;
            border-bottom: 2px solid $море-2-hex;
            div{
                cursor: pointer;
                flex-grow: 1;
                span{
                    display: block;
                    padding: 10px;
                }
            }
            &__register{
                border-radius: 10px 0 0 0;
            }
            &__login{
                border-radius: 0 10px 0 0;
            }
        }
        .closeAuth{
            position: absolute;
            top: -35px;
            right: -35px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            .closeAuthBtn{
                width: 100%;
                height: 100%;
                margin-left: auto;
                position: relative;
                &::before,
                &::after{
                    position: absolute;
                    content: '';
                    width: 3px;
                    height: 110%;
                    top: 50%;
                    left: 50%;
                    transform-origin: center;
                    background-color: white;
                }
                &::before{
                    transform:translate(-50%, -50%) rotate(45deg);
                }
                &::after{
                    transform:translate(-50%, -50%) rotate(-45deg);
                }
            }
        }
        .registration,
        .authorization{
            height: 100%;
            width: 100%;
            padding: 30px 0;
        }
        .registration{
            .register-form{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                text-align: center;
                align-items: center;
                justify-items: center;
                gap: 20px 0;
                height: 100%;
                font-size: 25px;
                width: 100%;
                .form-input {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 100%;
                    width: 80%;
                    .radio-gender{
                        display: flex;
                        input{
                            height: 20px;
                            width: 20px;
                        }
                    }
                    input{
                        border-radius: 10px;
                        text-align: center;
                        border: 2px solid $море-3-hex;
                        width: 100%;
                        height: 40px;
                    }
                    &:first-of-type,
                    &:last-of-type{
                        width: 90%;
                        grid-column: 1 / span 2;
                    }
                    &:last-of-type{
                        margin-bottom: 0;
                    }
                }
            }
        }
        .authorization {
           .login-form{
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;
               height: 100%;
               width: 100%;
               .form-input {
                   display: flex;
                   flex-direction: column;
                   align-items: center;
                   margin-bottom: 30px;
                   width: 100%;
                   padding: 0 60px;
                   input{
                       border-radius: 10px;
                       text-align: center;
                       border: 2px solid $море-3-hex;
                       width: 100%;
                       height: 60px;
                       font-size: 45px;
                   }
                   label{
                       font-size: 35px;
                   }
                   &:last-of-type{
                       margin-bottom: 30px;
                   }
               }
           }
        }
    }
}

.footer {
    padding: 20px;
    background: $море-4-hex;
    font-size: 25px;
    color: #fbfbfb;
    font-weight: bold;
    .footer-top{
        display: flex;
        align-items: center;
        justify-content: space-around;
        .follow-us{
            text-align: center;
            span{
                display: block;
                font-size: 25px;
                margin-bottom: 15px;
            }
            hr{
                background: #fbfbfb;
                height: 3px;
            }
            .follow-links{
                ul{
                    margin: 0;
                    padding: 0;
                    display: flex;
                    justify-content: space-evenly;
                    list-style: none;
                    .follow-link{
                        width: 40px;
                        height: 40px;
                    }
                    .vk{
                        background-image: url('../images/links/vk.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        filter: grayscale(1);
                    }
                    .facebook{
                        background-image: url("../images/links/facebook.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                    }
                    .twitter{
                        background-image: url("../images/links/twitter.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                    }
                    .youtube{
                        background-image: url("../images/links/youtube-play.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                    }
                }
            }
        }
        .navigation-footer{
            ul{
                list-style: none;
                margin: 0;
                display: flex;
                text-transform: uppercase;
                li{
                    margin-right: 30px;
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .footer-bottom{
        opacity: 0.8;
        text-align: center;
        font-size: 20px;
    }
}






/*Ниже разные анимации*/
.fade-leave-active,
.fade-enter-active{
    transition: all 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.auth-leave-active,
.auth-enter-active{
    transition: all 0.5s ease;
}


.auth-enter-from{
    font-size: 0;
    transform: scale(0);
}

.auth-leave-to{
    opacity: 0;
}
