@import url(https://fonts.googleapis.com/css?family=Nunito);
@charset "UTF-8";
/* Color Theme Swatches in Hex */
/* Color Theme Swatches in Hex */
.about {
  padding: 60px 0;
}
.about h2 {
  font-size: 35px;
}

.about-site {
  font-size: 25px;
  text-align: justify;
}

.aboutHistory {
  font-size: 23px;
  text-align: justify;
}
.aboutHistory .aboutHistory-images {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.aboutHistory .aboutHistory-images .aboutHistory-image {
  text-align: center;
  padding: 10px;
  border: 1px solid #0378A6;
  border-radius: 10px;
}
.aboutHistory .aboutHistory-images .aboutHistory-image img {
  width: 350px;
  height: auto;
}
.aboutHistory .aboutHistory-images .aboutHistory-image figcaption {
  font-size: 25px;
  background-color: #0597F2;
  color: white;
  border-radius: 0 0 10px 10px;
}
.aboutHistory cite a {
  color: #0597F2;
}

.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-form-input {
  cursor: pointer;
  font-size: 20px;
  background-color: #0597F2;
  width: 10%;
  padding: 20px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  color: white;
}
.contact-form form {
  display: flex;
  flex-direction: column;
}
.contact-form form input {
  padding: 10px 15px;
  width: 40%;
  height: 50px;
  margin-bottom: 20px;
  font-size: 20px;
  box-shadow: 0 5px 5px 3px #eaeaea;
}
.contact-form form textarea {
  padding: 10px 15px;
  font-size: 20px;
  box-shadow: 0 5px 5px 3px #eaeaea;
  margin-bottom: 35px;
  resize: none;
}

/* Color Theme Swatches in Hex */
.fish-types {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px 100px;
  align-items: center;
  justify-items: center;
  margin-bottom: 60px;
}
.fish-types .fish-type {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 5px 5px 3px #eaeaea;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in;
}
.fish-types .fish-type:hover .fish-type-desc {
  transform: translateY(0);
  opacity: 1;
}
.fish-types .fish-type::before {
  content: "";
  width: 100%;
  height: 79%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(10, 10, 10, 0.8);
  opacity: 0;
  transition: all 0.4s ease-in;
}
.fish-types .fish-type-btn {
  display: flex;
  background-color: #0597F2;
  height: 81px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.fish-types .fish-type-btn a {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.fish-types .fish-type-desc {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-in;
  opacity: 0;
  z-index: 1;
  color: white;
  text-align: justify;
}
.fish-types .fish-type-desc p {
  margin: 0;
  padding: 20px;
  overflow: hidden;
}
.fish-types .fish-type-image {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
}
.fish-types .fish-type:hover::before {
  opacity: 1;
}
.fish-types .fish-type-another {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 25px;
}
.fish-types .fish-type-another a {
  display: block;
  width: 50%;
  height: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Color Theme Swatches in Hex */
.another-fish-types {
  margin-bottom: 60px;
}
.another-fish-types p:nth-of-type(2), .another-fish-types p:nth-of-type(3) {
  margin-bottom: 60px;
}

.another-types {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 100px;
  margin-bottom: 60px;
}
.another-types:last-of-type {
  margin-bottom: 0;
}
.another-types .another-type {
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 0 5px 5px 3px #eaeaea;
}
.another-types .another-type::before {
  content: "";
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(10, 10, 10, 0.8);
  opacity: 0;
  transition: all 0.4s ease-in;
}
.another-types .another-type:hover .another-type-desc {
  opacity: 1;
}
.another-types .another-type h4 {
  text-align: center;
  font-size: 25px;
}
.another-types .another-type-image {
  display: block;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.another-types .another-type-desc {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  display: block;
  opacity: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  transition: all 0.4s ease-in;
}
.another-types .another-type-desc p {
  padding: 20px;
  height: 300px;
  margin: 0;
  text-align: justify;
  overflow-y: scroll;
}
.another-types .another-type-desc a {
  display: flex;
  height: 104px;
  background-color: #0597F2;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.another-types .another-type:hover::before {
  opacity: 1;
}

/* Color Theme Swatches in Hex */
.table-of-contents {
  padding: 20px 40px;
  background-color: #BBDDF2;
}
.table-of-contents ol {
  font-size: 25px;
  color: #0378A6;
  line-height: 50px;
}

.plants {
  text-align: justify;
  font-size: 25px;
}
.plants h3 {
  font-size: 30px;
  margin-bottom: 60px;
}
.plants .introduction .introduction-picture {
  display: block;
  width: 100%;
  height: auto;
}
.plants .plants-types h4 {
  font-size: 25px;
  margin: 0 0 20px;
}
.plants .plants-types ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.plants .plants-types ul .plants-type {
  box-shadow: 0 5px 5px 3px #eaeaea;
  padding: 3% 3% 3%;
  margin-bottom: 60px;
}
.plants .plants-types ul .plants-type-btn {
  display: flex;
  justify-content: center;
}
.plants .plants-types ul .plants-type-btn a {
  border-radius: 20px;
  display: block;
  text-align: center;
  background-color: #05AFF2;
  color: white;
  width: 25%;
  padding: 20px;
}
.plants .plants-types ul .plants-type-btn a a {
  display: flex;
  padding: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.plants .plants-types ul .plants-type:nth-of-type(even) .plants-type-image {
  order: -1;
  margin-right: 3%;
}
.plants .plants-types ul .plants-type:nth-of-type(even) .plants-type-desc {
  margin: 0;
}
.plants .plants-types ul .plants-type-content {
  display: flex;
  margin-bottom: 60px;
}
.plants .plants-types ul .plants-type-content .plants-type-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin-right: 3%;
}
.plants .plants-types ul .plants-type-content .plants-type-desc p {
  margin: 0;
}
.plants .plants-types ul .plants-type-content .plants-type-image {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.plants .plants-types ul .plants-type-content .plants-type-image span {
  margin-bottom: 5%;
  display: block;
  width: 100%;
  min-height: 400px;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.plants .plants-types ul .plants-type-content .plants-type-image span:last-child {
  margin-bottom: 0;
}

.plants-type-slider {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 0 5px 5px 3px #eaeaea;
  margin-bottom: 60px;
  padding: 40px 0;
}
.plants-type-slider form {
  width: inherit;
  height: inherit;
  position: relative;
}
.plants-type-slider form .slider-overflow {
  width: inherit;
  height: inherit;
  overflow: hidden;
}
.plants-type-slider form .slider-overflow .slider-slides {
  width: 300%;
  height: 300px;
  transition: all 0.4s ease-in;
}
.plants-type-slider form .slider-overflow .slider-slides .slide {
  float: left;
  display: flex;
  justify-content: space-between;
  width: 33.3%;
  height: 100%;
  padding: 0 40px;
}
.plants-type-slider form .slider-overflow .slider-slides .slide .slide-item {
  margin-right: 80px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plants-type-slider form .slider-overflow .slider-slides .slide .slide-item span {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.plants-type-slider form .slider-overflow .slider-slides .slide .slide-item:last-of-type {
  margin-right: 0;
}
.plants-type-slider form input[type=radio] {
  display: none;
}
.plants-type-slider form .slider-btns-left,
.plants-type-slider form .slider-btns-right {
  width: 30px;
  display: flex;
  z-index: 9001;
  height: 45px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.plants-type-slider form .slider-btns-left label,
.plants-type-slider form .slider-btns-right label {
  cursor: pointer;
  display: none;
  height: inherit;
  width: inherit;
}
.plants-type-slider form .slider-btns-left label {
  transform: scale(-1);
}
.plants-type-slider form .slider-btns-left label::before,
.plants-type-slider form .slider-btns-right label::before,
.plants-type-slider form .slider-btns-left label::after,
.plants-type-slider form .slider-btns-right label::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #1a202c;
}
.plants-type-slider form .slider-btns-left label::before,
.plants-type-slider form .slider-btns-right label::before {
  transform-origin: left;
  transform: rotate(45deg);
}
.plants-type-slider form .slider-btns-left label::after,
.plants-type-slider form .slider-btns-right label::after {
  transform-origin: left;
  bottom: 0;
  transform: rotate(-45deg);
}
.plants-type-slider form .slider-btns-left label {
  margin-right: auto;
}
.plants-type-slider form .slider-btns-right {
  right: 0;
}
.plants-type-slider form .slider-btns-right label {
  margin-left: auto;
}
.plants-type-slider form input#slide-1:checked ~ .slider-btns-right label[for=slide-2],
.plants-type-slider form input#slide-2:checked ~ .slider-btns-right label[for=slide-3],
.plants-type-slider form input#slide-3:checked ~ .slider-btns-right label[for=slide-4],
.plants-type-slider form input#slide-4:checked ~ .slider-btns-right label[for=slide-5],
.plants-type-slider form input#slide-5:checked ~ .slider-btns-right label[for=slide-6],
.plants-type-slider form input#slide-6:checked ~ .slider-btns-right label[for=slide-7],
.plants-type-slider form input#slide-7:checked ~ .slider-btns-right label[for=slide-1] {
  display: block;
}
.plants-type-slider form input#slide-1:checked ~ .slider-btns-left label[for=slide-7],
.plants-type-slider form input#slide-2:checked ~ .slider-btns-left label[for=slide-1],
.plants-type-slider form input#slide-3:checked ~ .slider-btns-left label[for=slide-2],
.plants-type-slider form input#slide-4:checked ~ .slider-btns-left label[for=slide-3],
.plants-type-slider form input#slide-5:checked ~ .slider-btns-left label[for=slide-4],
.plants-type-slider form input#slide-6:checked ~ .slider-btns-left label[for=slide-5],
.plants-type-slider form input#slide-7:checked ~ .slider-btns-left label[for=slide-6] {
  display: block;
}
.plants-type-slider form input#slide-1:checked ~ .slider-overflow .slider-slides {
  transform: translateX(0);
}
.plants-type-slider form input#slide-2:checked ~ .slider-overflow .slider-slides {
  transform: translateX(-11.1%);
}
.plants-type-slider form input#slide-3:checked ~ .slider-overflow .slider-slides {
  transform: translateX(-22.2%);
}
.plants-type-slider form input#slide-4:checked ~ .slider-overflow .slider-slides {
  transform: translateX(-33.3%);
}
.plants-type-slider form input#slide-5:checked ~ .slider-overflow .slider-slides {
  transform: translateX(-44.4%);
}
.plants-type-slider form input#slide-6:checked ~ .slider-overflow .slider-slides {
  transform: translateX(-55.5%);
}
.plants-type-slider form input#slide-7:checked ~ .slider-overflow .slider-slides {
  transform: translateX(-66.6%);
}

/* Color Theme Swatches in Hex */
.aquarium-type-groups {
  padding: 30px 0;
  font-size: 25px;
}
.aquarium-type-groups ul {
  list-style: none;
}
.aquarium-type-groups ul li {
  position: relative;
  margin-bottom: 20px;
}
.aquarium-type-groups ul li:before {
  content: "";
  width: 20px;
  height: 20px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.typesOfAquariums {
  padding: 20px 40px;
  background-color: #BBDDF2;
  list-style: decimal;
}
.typesOfAquariums ol {
  font-size: 25px;
  color: #0378A6;
  line-height: 50px;
}

.aquariums div {
  margin-bottom: 60px;
}

.aquarium-type-images__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  text-align: left;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 20px;
  padding: 10px 20px;
  color: white;
}

.aquarium-type-images > span {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#aquarium-type-group-1 .aquarium-type-images {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "aquarium fish_1" "aquarium fish_2" "aquarium fish_3";
  grid-template-rows: 200px 200px 200px;
  gap: 20px;
  padding: 20px;
}
#aquarium-type-group-1 .aquarium-type-images > span:nth-child(1) {
  grid-area: aquarium;
}
#aquarium-type-group-1 .aquarium-type-images > span:nth-child(2) {
  grid-area: fish_1;
}
#aquarium-type-group-1 .aquarium-type-images > span:nth-child(3) {
  grid-area: fish_2;
}
#aquarium-type-group-1 .aquarium-type-images > span:nth-child(4) {
  grid-area: fish_3;
}

#aquarium-type-group-2 .aquarium-type-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px 500px;
  gap: 20px;
  padding: 20px;
}

#aquarium-type-group-3 .aquarium-type-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px;
  gap: 20px;
  padding: 20px;
}

#aquarium-type-group-4 .aquarium-type-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 400px);
  padding: 20px;
  gap: 20px;
}
#aquarium-type-group-4 > div:last-child .aquarium-type-images {
  grid-template-rows: repeat(2, 400px);
}

#aquarium-type-group-5 .aquarium-type-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 500px;
  padding: 20px;
  gap: 20px;
}

/* Color Theme Swatches in Hex */
.news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 800px;
  margin-bottom: 60px;
}
.news .news-arrow {
  display: flex;
  width: 5%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.news .news-arrow span {
  display: flex;
  width: 100%;
  height: 5%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.news .news-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 47.5%;
  height: 100%;
  overflow-y: scroll;
  padding: 20px;
}
.news .news-left::-webkit-scrollbar {
  width: 8px;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
}
.news .news-left::-webkit-scrollbar-thumb {
  background-color: #0597F2;
}
.news .news-left .news-item {
  cursor: pointer;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 160px;
  margin-bottom: 40px;
  box-shadow: 0 5px 5px 3px #eaeaea;
  transition: outline 0.3s ease-in;
}
.news .news-left .news-item:hover {
  box-shadow: none;
  outline: 2px solid #023059;
}
.news .news-left .news-item__image {
  height: 100%;
  width: 30%;
  margin-right: 20px;
}
.news .news-left .news-item__image .views-quantity,
.news .news-left .news-item__image .likes-quantity,
.news .news-left .news-item__image .comments-quantity {
  position: relative;
  display: flex;
  filter: invert(1);
}
.news .news-left .news-item__image .views-quantity::before,
.news .news-left .news-item__image .likes-quantity::before,
.news .news-left .news-item__image .comments-quantity::before {
  display: block;
  margin-right: 5px;
  width: 20px;
  height: 100%;
  content: "";
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
}
.news .news-left .news-item__image .views-quantity::before {
  background-image: url("https://icomoon.io/iconsabf18a1/5/282.svg");
}
.news .news-left .news-item__image .likes-quantity::before {
  background-image: url("https://icomoon.io/iconsabf18a1/5/141.svg");
}
.news .news-left .news-item__image .comments-quantity::before {
  background-image: url("https://icomoon.io/iconsabf18a1/19/5.svg");
}
.news .news-left .news-item__image > span:first-child {
  display: flex;
  width: 100%;
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.news .news-left .news-item__image > span:first-child div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
  background-color: rgba(0, 0, 0, 0.4);
  color: black;
}
.news .news-left .news-item__image > span:last-child {
  display: block;
  width: 100%;
  padding: 2px 0;
  text-align: center;
  align-items: center;
  background-color: #0597F2;
  color: white;
}
.news .news-left .news-item__content {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  padding-right: 20px;
}
.news .news-right {
  width: 47.5%;
  height: 100%;
  overflow-y: scroll;
  padding: 20px;
  box-shadow: 0 0 5px 2px rgba(34, 60, 80, 0.2);
}
.news .news-right::-webkit-scrollbar {
  width: 8px;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
}
.news .news-right::-webkit-scrollbar-thumb {
  background-color: #0597F2;
}
.news .news-right .news-full {
  display: flex;
  min-height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.news .news-right .news-full-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.news .news-right .news-full-content-comments__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news .news-right .news-full-content-comments__items .news-full-content-comments__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100px;
  margin-bottom: 20px;
  box-shadow: 0 5px 5px 3px #eaeaea;
  padding: 20px;
}
.news .news-right .news-full-content-comments__items .news-full-content-comments__user {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
}
.news .news-right .news-full-content-comments__items .news-full-content-comments__nickname {
  margin-right: 20px;
}
.news .news-right .news-full-content-comments__items .news-full-content-comments__userdata {
  display: flex;
  align-items: center;
  height: 100%;
  width: 90%;
}
.news .news-right .news-full-content-comments__items .news-full-content-comments__avatar {
  display: flex;
  width: 10%;
  height: 100%;
  margin-right: 20px;
}
.news .news-right .news-full-content-comments__items .news-full-content-comments__avatar span {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}
.news .news-right .news-full-content-comments__items .news-full-content-comments__comment {
  width: 100%;
}
.news .news-right .news-full-content-comments form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  margin-bottom: 30px;
}
.news .news-right .news-full-content-comments form textarea {
  display: flex;
  height: 100%;
  padding: 10px;
  align-items: flex-start;
  width: 80%;
  box-shadow: 0 5px 5px 3px #eaeaea;
  border-radius: 10px;
  resize: none;
}
.news .news-right .news-full-content-comments form button {
  height: 60%;
  text-transform: uppercase;
  color: white;
  width: 15%;
  box-shadow: 0 5px 5px 3px #eaeaea;
  background-color: #0597F2;
  border-radius: 10px;
}
.news .news-right .news-full-content__date {
  margin: 10px;
  font-size: 20px;
  font-style: italic;
}
.news .news-right .news-full-content__self {
  text-align: justify;
  margin-bottom: 60px;
}
.news .news-right .news-full-content__banner {
  width: 100%;
  height: 300px;
  margin-bottom: 35px;
}
.news .news-right .news-full-content__banner span {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.news .news-right .news-full-content__banner span span {
  display: flex;
  width: 70%;
  height: 15%;
  padding: 10px 0;
  color: white;
  bottom: -7.5%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  background-color: #0597F2;
  justify-content: center;
  align-items: center;
}

.news-title {
  margin: 0;
  padding: 0;
  font-size: 25px;
}

.news-short-description {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
}

.news-items-load {
  text-align: center;
}
.news-items-load span {
  display: flex;
  padding: 15px;
  margin: 0;
  color: white;
  background-color: #0597F2;
  border-radius: 10px;
  cursor: pointer;
}

/* Color Theme Swatches in Hex */
.helpful {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 800px;
  margin-bottom: 60px;
}
.helpful .helpful-arrow {
  display: flex;
  width: 5%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.helpful .helpful-arrow span {
  display: flex;
  width: 100%;
  height: 5%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.helpful .helpful-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 47.5%;
  height: 100%;
  overflow-y: scroll;
  padding: 20px;
}
.helpful .helpful-left::-webkit-scrollbar {
  width: 8px;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
}
.helpful .helpful-left::-webkit-scrollbar-thumb {
  background-color: #0597F2;
}
.helpful .helpful-left .helpful-item {
  cursor: pointer;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 160px;
  margin-bottom: 40px;
  box-shadow: 0 5px 5px 3px #eaeaea;
  transition: outline 0.3s ease-in;
}
.helpful .helpful-left .helpful-item:hover {
  box-shadow: none;
  outline: 2px solid #023059;
}
.helpful .helpful-left .helpful-item__image {
  height: 100%;
  width: 30%;
  margin-right: 20px;
}
.helpful .helpful-left .helpful-item__image .views-quantity,
.helpful .helpful-left .helpful-item__image .likes-quantity,
.helpful .helpful-left .helpful-item__image .comments-quantity {
  position: relative;
  display: flex;
  filter: invert(1);
}
.helpful .helpful-left .helpful-item__image .views-quantity::before,
.helpful .helpful-left .helpful-item__image .likes-quantity::before,
.helpful .helpful-left .helpful-item__image .comments-quantity::before {
  display: block;
  margin-right: 5px;
  width: 20px;
  height: 100%;
  content: "";
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
}
.helpful .helpful-left .helpful-item__image .views-quantity::before {
  background-image: url("https://icomoon.io/iconsabf18a1/5/282.svg");
}
.helpful .helpful-left .helpful-item__image .likes-quantity::before {
  background-image: url("https://icomoon.io/iconsabf18a1/5/141.svg");
}
.helpful .helpful-left .helpful-item__image .comments-quantity::before {
  background-image: url("https://icomoon.io/iconsabf18a1/19/5.svg");
}
.helpful .helpful-left .helpful-item__image > span:first-child {
  display: flex;
  width: 100%;
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.helpful .helpful-left .helpful-item__image > span:first-child div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
  background-color: rgba(0, 0, 0, 0.4);
  color: black;
}
.helpful .helpful-left .helpful-item__image > span:last-child {
  display: block;
  width: 100%;
  padding: 2px 0;
  text-align: center;
  align-items: center;
  background-color: #0597F2;
  color: white;
}
.helpful .helpful-left .helpful-item__content {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  padding-right: 20px;
}
.helpful .helpful-right {
  width: 47.5%;
  height: 100%;
  overflow-y: scroll;
  padding: 20px;
  box-shadow: 0 0 5px 2px rgba(34, 60, 80, 0.2);
}
.helpful .helpful-right::-webkit-scrollbar {
  width: 8px;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
}
.helpful .helpful-right::-webkit-scrollbar-thumb {
  background-color: #0597F2;
}
.helpful .helpful-right .helpful-full {
  display: flex;
  min-height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.helpful .helpful-right .helpful-full-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.helpful .helpful-right .helpful-full-content-comments__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.helpful .helpful-right .helpful-full-content-comments__items .helpful-full-content-comments__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100px;
  margin-bottom: 20px;
  box-shadow: 0 5px 5px 3px #eaeaea;
  padding: 20px;
}
.helpful .helpful-right .helpful-full-content-comments__items .helpful-full-content-comments__user {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
}
.helpful .helpful-right .helpful-full-content-comments__items .helpful-full-content-comments__nickname {
  margin-right: 20px;
}
.helpful .helpful-right .helpful-full-content-comments__items .helpful-full-content-comments__userdata {
  display: flex;
  align-items: center;
  height: 100%;
  width: 90%;
}
.helpful .helpful-right .helpful-full-content-comments__items .helpful-full-content-comments__avatar {
  display: flex;
  width: 10%;
  height: 100%;
  margin-right: 20px;
}
.helpful .helpful-right .helpful-full-content-comments__items .helpful-full-content-comments__avatar span {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}
.helpful .helpful-right .helpful-full-content-comments__items .helpful-full-content-comments__comment {
  width: 100%;
}
.helpful .helpful-right .helpful-full-content-comments form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  margin-bottom: 30px;
}
.helpful .helpful-right .helpful-full-content-comments form textarea {
  display: flex;
  height: 100%;
  padding: 10px;
  align-items: flex-start;
  width: 80%;
  box-shadow: 0 5px 5px 3px #eaeaea;
  border-radius: 10px;
  resize: none;
}
.helpful .helpful-right .helpful-full-content-comments form button {
  height: 60%;
  text-transform: uppercase;
  color: white;
  width: 15%;
  box-shadow: 0 5px 5px 3px #eaeaea;
  background-color: #0597F2;
  border-radius: 10px;
}
.helpful .helpful-right .helpful-full-content__inf {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}
.helpful .helpful-right .helpful-full-content__date {
  margin: 10px;
  font-size: 20px;
  font-style: italic;
}
.helpful .helpful-right .helpful-full-content__self {
  text-align: justify;
}
.helpful .helpful-right .helpful-full-content__banner {
  width: 100%;
  height: 300px;
  margin-bottom: 35px;
}
.helpful .helpful-right .helpful-full-content__banner span {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.helpful .helpful-right .helpful-full-content__banner span span {
  display: flex;
  width: 70%;
  height: 15%;
  padding: 10px 0;
  color: white;
  bottom: -7.5%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  background-color: #0597F2;
  justify-content: center;
  align-items: center;
}

.helpful-title {
  margin: 0;
  padding: 0;
  font-size: 25px;
}

.helpful-short-description {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
}

.helpful-items-load {
  text-align: center;
}
.helpful-items-load span {
  display: flex;
  padding: 15px;
  margin: 0;
  color: white;
  background-color: #0597F2;
  border-radius: 10px;
  cursor: pointer;
}

/* Color Theme Swatches in Hex */
.petMembers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 800px;
  margin-bottom: 60px;
}
.petMembers .petMembers-arrow {
  display: flex;
  width: 5%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.petMembers .petMembers-arrow span {
  display: flex;
  width: 100%;
  height: 5%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.petMembers .petMembers-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 47.5%;
  height: 100%;
  overflow-y: scroll;
  padding: 20px;
}
.petMembers .petMembers-left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}
.petMembers .petMembers-left-content .petMember {
  display: flex;
  margin-bottom: 15px;
  height: 20%;
  width: 100%;
  padding: 10px;
  box-shadow: 0 5px 5px 3px #eaeaea;
}
.petMembers .petMembers-left-content .petMember-image {
  height: 100%;
  width: 20%;
  margin: 0 10px;
  text-align: center;
}
.petMembers .petMembers-left-content .petMember-image span {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.petMembers .petMembers-left-content .petMember-title {
  width: 80%;
  text-align: center;
}
.petMembers .petMembers-left::-webkit-scrollbar {
  width: 8px;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
}
.petMembers .petMembers-left::-webkit-scrollbar-thumb {
  background-color: #0597F2;
}
.petMembers .petMembers-right {
  width: 47.5%;
  height: 100%;
  overflow-y: scroll;
  padding: 20px;
  box-shadow: 0 0 5px 2px rgba(34, 60, 80, 0.2);
}
.petMembers .petMembers-right .pet {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.petMembers .petMembers-right .pet-description {
  text-align: justify;
}
.petMembers .petMembers-right .pet h3 {
  padding-left: 20px;
}
.petMembers .petMembers-right .pet-title {
  text-align: center;
  line-height: 30px;
  margin: 0 0 20px;
}
.petMembers .petMembers-right .pet-title span {
  font-size: 20px;
  font-style: italic;
  font-weight: normal;
}
.petMembers .petMembers-right .pet-top {
  display: flex;
  align-items: center;
  width: 100%;
}
.petMembers .petMembers-right .pet-top__characteristics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 70px);
  align-items: center;
  justify-items: center;
  width: 50%;
  gap: 8px;
  margin-right: 20px;
}
.petMembers .petMembers-right .pet-top__characteristics .pet-characteristic {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  width: 100%;
  height: 100%;
}
.petMembers .petMembers-right .pet-top__characteristics .characteristic-title {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  background-color: #023059;
  color: white;
  flex-grow: 1;
}
.petMembers .petMembers-right .pet-top__characteristics .characteristic-content {
  background-color: #0597F2;
  color: white;
  display: block;
  text-align: center;
  width: 100%;
}
.petMembers .petMembers-right .pet-top__poster {
  width: 50%;
  height: 220px;
}
.petMembers .petMembers-right .pet-top__poster span {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.petMembers .petMembers-right::-webkit-scrollbar {
  width: 8px;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
}
.petMembers .petMembers-right::-webkit-scrollbar-thumb {
  background-color: #0597F2;
}
.petMembers .petMembers-right .petMembers-full {
  display: flex;
  min-height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.petMembers-items-load {
  text-align: center;
}
.petMembers-items-load span {
  display: flex;
  padding: 15px;
  margin: 0;
  color: white;
  background-color: #0597F2;
  border-radius: 10px;
  cursor: pointer;
}

/* Color Theme Swatches in Hex */
.plantMembers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 800px;
  margin-bottom: 60px;
}
.plantMembers .plantMembers-arrow {
  display: flex;
  width: 5%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.plantMembers .plantMembers-arrow span {
  display: flex;
  width: 100%;
  height: 5%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.plantMembers .plantMembers-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 47.5%;
  height: 100%;
  overflow-y: scroll;
  padding: 20px;
}
.plantMembers .plantMembers-left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}
.plantMembers .plantMembers-left-content .plantMember {
  display: flex;
  margin-bottom: 15px;
  height: 100px;
  width: 100%;
  padding: 10px;
  box-shadow: 0 5px 5px 3px #eaeaea;
}
.plantMembers .plantMembers-left-content .plantMember-image {
  height: 100%;
  width: 20%;
  margin: 0 10px;
  text-align: center;
}
.plantMembers .plantMembers-left-content .plantMember-image span {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.plantMembers .plantMembers-left-content .plantMember-title {
  width: 80%;
  text-align: center;
}
.plantMembers .plantMembers-left::-webkit-scrollbar {
  width: 8px;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
}
.plantMembers .plantMembers-left::-webkit-scrollbar-thumb {
  background-color: #0597F2;
}
.plantMembers .plantMembers-right {
  width: 47.5%;
  height: 100%;
  overflow-y: scroll;
  padding: 20px;
  box-shadow: 0 0 5px 2px rgba(34, 60, 80, 0.2);
}
.plantMembers .plantMembers-right .plant-full {
  padding: 20px;
}
.plantMembers .plantMembers-right .plant-full-title {
  text-align: center;
  margin-bottom: 40px;
}
.plantMembers .plantMembers-right .plant-full-title h2, .plantMembers .plantMembers-right .plant-full-title p {
  margin: 0;
  padding: 0;
}
.plantMembers .plantMembers-right .plant-full-title h2 {
  line-height: 30px;
}
.plantMembers .plantMembers-right .plant-full-title p {
  text-align: center;
  font-style: italic;
}
.plantMembers .plantMembers-right .plant-full-main {
  display: flex;
  align-items: center;
  height: inherit;
}
.plantMembers .plantMembers-right .plant-full-characteristics {
  width: 50%;
  text-align: center;
  margin-right: 20px;
  background-color: #0597F2;
}
.plantMembers .plantMembers-right .plant-full-characteristics p {
  margin: 0;
  color: white;
  text-align: center;
}
.plantMembers .plantMembers-right .plant-full-characteristics > p {
  background-color: #0378A6;
  padding: 10px;
}
.plantMembers .plantMembers-right .plant-full-characteristics-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plantMembers .plantMembers-right .plant-full-characteristic {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #BBDDF2;
}
.plantMembers .plantMembers-right .plant-full-characteristic:last-child {
  border-bottom: none;
}
.plantMembers .plantMembers-right .plant-full-characteristic-content {
  margin: 0;
  padding: 10px;
  text-align: center;
}
.plantMembers .plantMembers-right .plant-full-banner {
  display: flex;
  width: 50%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.plantMembers .plantMembers-right::-webkit-scrollbar {
  width: 8px;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
}
.plantMembers .plantMembers-right::-webkit-scrollbar-thumb {
  background-color: #0597F2;
}
.plantMembers .plantMembers-right .plantMembers-full {
  display: flex;
  min-height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plantMembers-items-load {
  text-align: center;
}
.plantMembers-items-load span {
  display: flex;
  padding: 15px;
  margin: 0;
  color: white;
  background-color: #0597F2;
  border-radius: 10px;
  cursor: pointer;
}

/* Color Theme Swatches in Hex */
.addForm {
  background-color: #0597F2;
  margin-left: auto;
  color: white;
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
.addForm p {
  margin: 0;
  font-size: 15px;
}
.addForm::before {
  content: "";
  width: 30px;
  height: 100%;
  margin-right: 10px;
  display: block;
  background-image: url("https://icomoon.io/iconsabf18a1/8/23.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.addNew {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.addNew form {
  width: 40%;
  height: 900px;
  background-color: white;
  overflow-y: scroll;
}
.addNew form button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #0597F2;
  color: white;
  cursor: pointer;
  margin: 0 auto 60px;
}
.addNew form img {
  display: block;
  width: 100%;
  height: 500px;
}
.addNew form .formAddItem {
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
}
.addNew form .formAddItem input {
  display: flex;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  color: #023059;
  height: 40px;
  background-color: #BBDDF2;
  box-shadow: 0 5px 5px 3px #eaeaea;
}
.addNew form .formAddItem input[type=file] {
  background-color: white;
  color: black;
}
.addNew form .formAddItem textarea {
  width: 100%;
  resize: none;
  color: #023059;
  background-color: #BBDDF2;
  box-shadow: 0 5px 5px 3px #eaeaea;
  padding: 20px;
}
.addNew-close {
  position: fixed;
  top: 2%;
  right: 27%;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.addNew-close-inner {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.addNew-close-inner::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 5px;
  height: 100%;
  background-color: white;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(45deg);
}
.addNew-close-inner::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 100%;
  background-color: white;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.PetsForm {
  width: 40%;
  height: 900px;
  background-color: white;
  overflow-y: scroll;
}
.PetsForm .PetsFormChar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.PetsForm .PetsFormChar .formAddItem {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.PetsForm .PetsFormChar .formAddItem select {
  background-color: #BBDDF2;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
.PetsForm .PetsFormChar .formAddItem output {
  background-color: #BBDDF2;
  padding: 10px;
}
.PetsForm .formAddItem {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.PetsForm .formAddItem:nth-child(5) p {
  text-align: center;
  margin: 0 0 20px;
}
.PetsForm .formAddItem:nth-child(5) div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.PetsForm .formAddItem:nth-child(5) div input {
  width: 20px;
  color: #023059;
  box-shadow: none;
  font-weight: bold;
}
.PetsForm .formAddItem:nth-child(5) div label {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.PlantFormChar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}
.PlantFormChar .formAddItem:nth-child(3) {
  grid-column: 1/span 2;
  text-align: center;
  padding: 0 20px;
}
.PlantFormChar .formAddItem:nth-child(3) h3 {
  margin: 0;
}
.PlantFormChar .formAddItem input {
  padding: 10px;
  background-color: #BBDDF2;
}

body {
  font-family: "Nunito", sans-serif;
  background: #f8fafc;
  font-size: 20px;
}

b {
  color: #023059;
}

p {
  text-align: justify;
}

.helpful-item:hover, .another-type:hover,
.fish-type:hover, .news-item:hover, .plantMember:hover {
  outline: 3px solid red;
}

.container {
  width: 80%;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 8px;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
}

::-webkit-scrollbar-thumb {
  background-color: #0597F2;
}

.title-2 {
  margin: 0;
  padding: 0;
}

.auth-active {
  background-color: #0597F2;
  color: white;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}
.menu .navigation-container {
  display: flex;
}
.menu .navigation-container .navigation-header ul {
  display: flex;
  text-decoration: none;
  list-style: none;
}
.menu .navigation-container .navigation-header ul li {
  margin-right: 50px;
}
.menu .navigation-container .navigation-header ul li:last-child {
  margin-right: 0;
}
.menu .navigation-container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .navigation-container .logo img {
  width: 200px;
  height: 63px;
}
.menu .AuthContainer {
  display: flex;
  align-items: center;
  list-style: none;
}
.menu .AuthContainer a {
  cursor: pointer;
  margin-right: 25px;
}
.menu .AuthContainer a:last-child {
  margin-right: 0;
}

.promo {
  background-image: url(/images/promo-bg.png?69e532f2820bc12ea582872cd8989d91);
  background-size: cover;
  width: 100%;
  height: 800px;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.promo > * {
  position: absolute;
}
.promo .promo-center {
  left: 50%;
  top: 50%;
  text-align: center;
  color: #00FFFF;
  font-size: 25px;
  transform: translate(-50%, -50%);
}
.promo .promo-center p {
  text-align: left;
  text-transform: none;
}
.promo .promo-center p span {
  line-height: 200px;
  font-style: italic;
}
.promo .promo-btn {
  border: 2px solid #00FFFF;
  border-radius: 15px;
  background: none;
  transition: all 0.4s ease-in;
  display: inline-block;
}
.promo .promo-btn a {
  display: inline-block;
  padding: 20px 15px;
}
.promo .promo-btn:hover {
  background-color: #00FFFF;
  color: #f522cb;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.main-left {
  width: 70%;
}
.main-left-content {
  border-radius: 10px;
  padding: 10px 20px;
}
.main-left-content__inner {
  margin-bottom: 60px;
}
.main-left-content .news-more-btn {
  display: flex;
  justify-content: center;
}
.main-left-content .news-more-btn > a {
  display: block;
  background: #00FFFF;
  padding: 10px;
  border-radius: 10px;
  color: #F08080;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 60px;
}
.main-left-content hr {
  border: 1px solid #b0aeae;
  margin-bottom: 40px;
}
.main-right {
  text-align: center;
  width: 28%;
}
.main-right hr {
  border: 1px solid #b0aeae;
  margin-bottom: 40px;
  width: 100%;
}
.main-right-content {
  border-radius: 10px;
  padding: 10px 20px;
}
.main-right-content > div {
  margin-bottom: 60px;
}
.main-right-content-title {
  margin: 0;
  padding: 0;
}
.main-right-content-likely {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-right-content-likely .likely-articles {
  display: flex;
  flex-direction: column;
}
.main-right-content-likely .likely-articles .likely-article {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding-bottom: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 5px 5px 3px #eaeaea;
}
.main-right-content-likely .likely-articles .likely-article-banner {
  padding: 0 25px;
}
.main-right-content-likely .likely-articles .likely-article-banner img {
  width: 100%;
  height: auto;
}
.main-right-content-likely .likely-articles .likely-article-title h3 {
  margin: 0;
  padding: 0;
}
.main-right-content-random .random-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  box-shadow: 0 5px 5px 3px #eaeaea;
}
.main-right-content-random .random-article img {
  width: 100%;
  height: auto;
}
.main-right-content-statistic .statistic {
  text-align: center;
}
.main-right-content-statistic .statistic ul {
  text-align: left;
  padding: 0 20px;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 20px;
}
.main-right-content-statistic .statistic ul li {
  display: flex;
  align-items: center;
}
.main-right-content-statistic .statistic ul li span {
  margin-left: 10px;
}
.main-right-content-statistic .statistic ul li::before {
  margin-right: 10px;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #023059;
}

.news-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  background-color: #f5f5f5;
  box-shadow: 0 5px 5px 3px #eaeaea;
}
.news-card:last-child {
  margin-bottom: 0;
}
.news-card-title {
  font-size: 25px;
  margin: 0;
}
.news-card .news-card-center {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}
.news-card .news-card-center > div:not(.news-card-bg), .news-card .news-card-center h3 {
  padding: 0 30px;
}
.news-card .news-card-center h4 {
  text-align: center;
  font-size: 20px;
}
.news-card .news-card-center .news-card-bg {
  text-align: center;
  width: 100%;
}
.news-card .news-card-center .news-card-bg span {
  display: block;
  width: 100%;
  height: 400px;
  transition: all 0.3s ease-in;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.news-card .news-card-center .news-card-bg span:hover {
  background-size: 50%;
}
.news-card .news-card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 30px 30px;
}
.news-card .news-card-bottom .news-card-button {
  border: 1px solid #F08080;
  padding: 10px;
  border-radius: 20px;
}

.auth {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9002;
}
.auth-wrapper {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.auth-container {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  color: black;
  width: 600px;
  height: auto;
  border-radius: 10px;
  position: relative;
}
.auth-container .auth-btn {
  font-size: 20px;
  background-color: #0597F2;
  width: auto;
  padding: 20px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  color: white;
  grid-column: 1/span 2;
}
.auth-container .auth-switchers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: auto;
  text-align: center;
  border-bottom: 2px solid #0597F2;
}
.auth-container .auth-switchers div {
  cursor: pointer;
  flex-grow: 1;
}
.auth-container .auth-switchers div span {
  display: block;
  padding: 10px;
}
.auth-container .auth-switchers__register {
  border-radius: 10px 0 0 0;
}
.auth-container .auth-switchers__login {
  border-radius: 0 10px 0 0;
}
.auth-container .closeAuth {
  position: absolute;
  top: -35px;
  right: -35px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.auth-container .closeAuth .closeAuthBtn {
  width: 100%;
  height: 100%;
  margin-left: auto;
  position: relative;
}
.auth-container .closeAuth .closeAuthBtn::before, .auth-container .closeAuth .closeAuthBtn::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 110%;
  top: 50%;
  left: 50%;
  transform-origin: center;
  background-color: white;
}
.auth-container .closeAuth .closeAuthBtn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.auth-container .closeAuth .closeAuthBtn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.auth-container .registration,
.auth-container .authorization {
  height: 100%;
  width: 100%;
  padding: 30px 0;
}
.auth-container .registration .register-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  align-items: center;
  justify-items: center;
  gap: 20px 0;
  height: 100%;
  font-size: 25px;
  width: 100%;
}
.auth-container .registration .register-form .form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 80%;
}
.auth-container .registration .register-form .form-input .radio-gender {
  display: flex;
}
.auth-container .registration .register-form .form-input .radio-gender input {
  height: 20px;
  width: 20px;
}
.auth-container .registration .register-form .form-input input {
  border-radius: 10px;
  text-align: center;
  border: 2px solid #BBDDF2;
  width: 100%;
  height: 40px;
}
.auth-container .registration .register-form .form-input:first-of-type, .auth-container .registration .register-form .form-input:last-of-type {
  width: 90%;
  grid-column: 1/span 2;
}
.auth-container .registration .register-form .form-input:last-of-type {
  margin-bottom: 0;
}
.auth-container .authorization .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.auth-container .authorization .login-form .form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  padding: 0 60px;
}
.auth-container .authorization .login-form .form-input input {
  border-radius: 10px;
  text-align: center;
  border: 2px solid #BBDDF2;
  width: 100%;
  height: 60px;
  font-size: 45px;
}
.auth-container .authorization .login-form .form-input label {
  font-size: 35px;
}
.auth-container .authorization .login-form .form-input:last-of-type {
  margin-bottom: 30px;
}

.footer {
  padding: 20px;
  background: #05AFF2;
  font-size: 25px;
  color: #fbfbfb;
  font-weight: bold;
}
.footer .footer-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer .footer-top .follow-us {
  text-align: center;
}
.footer .footer-top .follow-us span {
  display: block;
  font-size: 25px;
  margin-bottom: 15px;
}
.footer .footer-top .follow-us hr {
  background: #fbfbfb;
  height: 3px;
}
.footer .footer-top .follow-us .follow-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.footer .footer-top .follow-us .follow-links ul .follow-link {
  width: 40px;
  height: 40px;
}
.footer .footer-top .follow-us .follow-links ul .vk {
  background-image: url(/images/vk.svg?6ea9076e5d3402938e73d5278392c9c8);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  filter: grayscale(1);
}
.footer .footer-top .follow-us .follow-links ul .facebook {
  background-image: url(/images/facebook.svg?fc3c00b456a40750f70f8ffff6017f39);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.footer .footer-top .follow-us .follow-links ul .twitter {
  background-image: url(/images/twitter.svg?eb5a7441d22ea674e85d0b1041280f65);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.footer .footer-top .follow-us .follow-links ul .youtube {
  background-image: url(/images/youtube-play.svg?0b55ece76aace217f81f9a6a3fa57fbb);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.footer .footer-top .navigation-footer ul {
  list-style: none;
  margin: 0;
  display: flex;
  text-transform: uppercase;
}
.footer .footer-top .navigation-footer ul li {
  margin-right: 30px;
}
.footer .footer-top .navigation-footer ul li:last-child {
  margin-right: 0;
}
.footer .footer-bottom {
  opacity: 0.8;
  text-align: center;
  font-size: 20px;
}

/*Ниже разные анимации*/
.fade-leave-active,
.fade-enter-active {
  transition: all 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.auth-leave-active,
.auth-enter-active {
  transition: all 0.5s ease;
}

.auth-enter-from {
  font-size: 0;
  transform: scale(0);
}

.auth-leave-to {
  opacity: 0;
}
