@import url(https://fonts.googleapis.com/css?family=Nunito);
@charset "UTF-8";
/* Color Theme Swatches in Hex */
/* Color Theme Swatches in Hex */
.about {
  padding: 60px 0;
}
.about h2 {
  font-size: 35px;
}

.about-site {
  font-size: 25px;
}

.aboutHistory {
  font-size: 23px;
}
.aboutHistory b {
  color: #023059;
}
.aboutHistory .aboutHistory-images {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.aboutHistory .aboutHistory-images .aboutHistory-image {
  text-align: center;
  padding: 10px;
  border: 1px solid #0378A6;
  border-radius: 10px;
}
.aboutHistory .aboutHistory-images .aboutHistory-image img {
  width: 350px;
  height: auto;
}
.aboutHistory .aboutHistory-images .aboutHistory-image figcaption {
  font-size: 25px;
  background-color: #0597F2;
  color: white;
  border-radius: 0 0 10px 10px;
}
.aboutHistory cite a {
  color: #0597F2;
}

.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-form-input {
  cursor: pointer;
  font-size: 20px;
  background-color: #0597F2;
  width: 10%;
  padding: 20px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  color: white;
}
.contact-form form {
  display: flex;
  flex-direction: column;
}
.contact-form form input {
  padding: 10px 15px;
  width: 40%;
  height: 50px;
  margin-bottom: 20px;
  font-size: 20px;
  box-shadow: 0 5px 5px 3px #eaeaea;
}
.contact-form form textarea {
  padding: 10px 15px;
  font-size: 20px;
  box-shadow: 0 5px 5px 3px #eaeaea;
  margin-bottom: 35px;
  resize: none;
}

/* Color Theme Swatches in Hex */
.fish-types {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px 100px;
  align-items: center;
  justify-items: center;
  margin-bottom: 60px;
}
.fish-types .fish-type {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 3px 5px 5px #eeeeee;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in;
}
.fish-types .fish-type::before {
  content: "";
  width: 100%;
  height: 79%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(10, 10, 10, 0.8);
  opacity: 0;
  transition: all 0.4s ease-in;
}
.fish-types .fish-type-btn {
  display: flex;
  background-color: #0597F2;
  height: 81px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.fish-types .fish-type-desc {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-in;
  opacity: 0;
  z-index: 1;
  color: white;
  text-align: justify;
}
.fish-types .fish-type-desc p {
  margin: 0;
  padding: 20px;
  overflow: hidden;
}
.fish-types .fish-type-image {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
}
.fish-types .fish-type:hover::before {
  opacity: 1;
}
.fish-types .fish-type:hover .fish-type-desc {
  transform: translateY(0);
  opacity: 1;
}

body {
  font-family: "Nunito", sans-serif;
  background: #f8fafc;
  font-size: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.title-2 {
  margin: 0;
  padding: 0;
}

.auth-active {
  background-color: #0597F2;
  color: white;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}
.menu .navigation-container {
  display: flex;
}
.menu .navigation-container .navigation-header ul {
  display: flex;
  text-decoration: none;
  list-style: none;
}
.menu .navigation-container .navigation-header ul li {
  margin-right: 50px;
}
.menu .navigation-container .navigation-header ul li:last-child {
  margin-right: 0;
}
.menu .navigation-container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .navigation-container .logo img {
  width: 200px;
  height: 63px;
}
.menu .AuthContainer {
  display: flex;
  align-items: center;
  list-style: none;
}
.menu .AuthContainer a {
  cursor: pointer;
  margin-right: 25px;
}
.menu .AuthContainer a:last-child {
  margin-right: 0;
}

.promo {
  background-image: url(/images/promo-bg.png?69e532f2820bc12ea582872cd8989d91);
  background-size: cover;
  width: 100%;
  height: 800px;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.promo > * {
  position: absolute;
}
.promo .promo-center {
  left: 50%;
  top: 50%;
  text-align: center;
  color: #00FFFF;
  font-size: 25px;
  transform: translate(-50%, -50%);
}
.promo .promo-center p {
  text-align: left;
  text-transform: none;
}
.promo .promo-center p span {
  line-height: 200px;
  font-style: italic;
}
.promo .promo-btn {
  border: 2px solid #00FFFF;
  border-radius: 15px;
  background: none;
  transition: all 0.4s ease-in;
  display: inline-block;
}
.promo .promo-btn a {
  display: inline-block;
  padding: 20px 15px;
}
.promo .promo-btn:hover {
  background-color: #00FFFF;
  color: #f522cb;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.main-left {
  width: 70%;
}
.main-left-content {
  border-radius: 10px;
  padding: 10px 20px;
}
.main-left-content__inner {
  margin-bottom: 60px;
}
.main-left-content .news-more-btn {
  display: flex;
  justify-content: center;
}
.main-left-content .news-more-btn > a {
  display: block;
  background: #00FFFF;
  padding: 10px;
  border-radius: 10px;
  color: #F08080;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 60px;
}
.main-left-content hr {
  border: 1px solid #b0aeae;
  margin-bottom: 40px;
}
.main-right {
  text-align: center;
  width: 28%;
}
.main-right hr {
  border: 1px solid #b0aeae;
  margin-bottom: 40px;
  width: 100%;
}
.main-right-content {
  border-radius: 10px;
  padding: 10px 20px;
}
.main-right-content > div {
  margin-bottom: 60px;
}
.main-right-content-title {
  margin: 0;
  padding: 0;
}
.main-right-content-likely {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-right-content-likely .likely-articles {
  display: flex;
  flex-direction: column;
}
.main-right-content-likely .likely-articles .likely-article {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding-bottom: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 3px 5px 5px #eeeeee;
}
.main-right-content-likely .likely-articles .likely-article-banner {
  padding: 0 25px;
}
.main-right-content-likely .likely-articles .likely-article-banner img {
  width: 100%;
  height: auto;
}
.main-right-content-likely .likely-articles .likely-article-title h3 {
  margin: 0;
  padding: 0;
}
.main-right-content-random .random-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  box-shadow: 0 3px 5px 5px #eeeeee;
}
.main-right-content-random .random-article img {
  width: 100%;
  height: auto;
}
.main-right-content-statistic .statistic {
  text-align: center;
}
.main-right-content-statistic .statistic ul {
  text-align: left;
  padding: 0 20px;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 20px;
}
.main-right-content-statistic .statistic ul li {
  display: flex;
  align-items: center;
}
.main-right-content-statistic .statistic ul li span {
  margin-left: 10px;
}
.main-right-content-statistic .statistic ul li::before {
  margin-right: 10px;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #023059;
}

.news-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  background-color: #f5f5f5;
  box-shadow: 0 3px 5px 5px #eeeeee;
}
.news-card:last-child {
  margin-bottom: 0;
}
.news-card-title {
  font-size: 25px;
  margin: 0;
}
.news-card .news-card-center {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}
.news-card .news-card-center > div:not(.news-card-bg), .news-card .news-card-center h3 {
  padding: 0 30px;
}
.news-card .news-card-center h4 {
  text-align: center;
  font-size: 20px;
}
.news-card .news-card-center .news-card-bg {
  text-align: center;
  width: 100%;
}
.news-card .news-card-center .news-card-bg span {
  display: block;
  width: 100%;
  height: 400px;
  transition: all 0.3s ease-in;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.news-card .news-card-center .news-card-bg span:hover {
  background-size: 50%;
}
.news-card .news-card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 30px 30px;
}
.news-card .news-card-bottom .news-card-button {
  border: 1px solid #F08080;
  padding: 10px;
  border-radius: 20px;
}

.auth {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9002;
}
.auth-wrapper {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.auth-container {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  color: black;
  width: 600px;
  height: auto;
  border-radius: 10px;
  position: relative;
}
.auth-container .auth-btn {
  font-size: 20px;
  background-color: #0597F2;
  width: auto;
  padding: 20px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  color: white;
  grid-column: 1/span 2;
}
.auth-container .auth-switchers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: auto;
  text-align: center;
  border-bottom: 2px solid #0597F2;
}
.auth-container .auth-switchers div {
  cursor: pointer;
  flex-grow: 1;
}
.auth-container .auth-switchers div span {
  display: block;
  padding: 10px;
}
.auth-container .auth-switchers__register {
  border-radius: 10px 0 0 0;
}
.auth-container .auth-switchers__login {
  border-radius: 0 10px 0 0;
}
.auth-container .closeAuth {
  position: absolute;
  top: -35px;
  right: -35px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.auth-container .closeAuth .closeAuthBtn {
  width: 100%;
  height: 100%;
  margin-left: auto;
  position: relative;
}
.auth-container .closeAuth .closeAuthBtn::before, .auth-container .closeAuth .closeAuthBtn::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 110%;
  top: 50%;
  left: 50%;
  transform-origin: center;
  background-color: white;
}
.auth-container .closeAuth .closeAuthBtn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.auth-container .closeAuth .closeAuthBtn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.auth-container .registration,
.auth-container .authorization {
  height: 100%;
  width: 100%;
  padding: 30px 0;
}
.auth-container .registration .register-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  align-items: center;
  justify-items: center;
  gap: 20px 0;
  height: 100%;
  font-size: 25px;
  width: 100%;
}
.auth-container .registration .register-form .form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 80%;
}
.auth-container .registration .register-form .form-input .radio-gender {
  display: flex;
}
.auth-container .registration .register-form .form-input .radio-gender input {
  height: 20px;
  width: 20px;
}
.auth-container .registration .register-form .form-input input {
  border-radius: 10px;
  text-align: center;
  border: 2px solid #BBDDF2;
  width: 100%;
  height: 40px;
}
.auth-container .registration .register-form .form-input:first-of-type, .auth-container .registration .register-form .form-input:last-of-type {
  width: 90%;
  grid-column: 1/span 2;
}
.auth-container .registration .register-form .form-input:last-of-type {
  margin-bottom: 0;
}
.auth-container .authorization .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.auth-container .authorization .login-form .form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  padding: 0 60px;
}
.auth-container .authorization .login-form .form-input input {
  border-radius: 10px;
  text-align: center;
  border: 2px solid #BBDDF2;
  width: 100%;
  height: 60px;
  font-size: 45px;
}
.auth-container .authorization .login-form .form-input label {
  font-size: 35px;
}
.auth-container .authorization .login-form .form-input:last-of-type {
  margin-bottom: 30px;
}

.footer {
  padding: 20px;
  background: #05AFF2;
  font-size: 25px;
  color: #fbfbfb;
  font-weight: bold;
}
.footer .footer-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer .footer-top .follow-us {
  text-align: center;
}
.footer .footer-top .follow-us span {
  display: block;
  font-size: 25px;
  margin-bottom: 15px;
}
.footer .footer-top .follow-us hr {
  background: #fbfbfb;
  height: 3px;
}
.footer .footer-top .follow-us .follow-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.footer .footer-top .follow-us .follow-links ul .follow-link {
  width: 40px;
  height: 40px;
}
.footer .footer-top .follow-us .follow-links ul .vk {
  background-image: url(/images/vk.svg?f4a730ebabb63bdc58ade6a9d74e13dd);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  filter: grayscale(1);
}
.footer .footer-top .follow-us .follow-links ul .facebook {
  background-image: url(/images/facebook.svg?13c398024f7e23d29307abc06933f5ba);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.footer .footer-top .follow-us .follow-links ul .twitter {
  background-image: url(/images/twitter.svg?5569779635b6b1f3af2a7a58063481a2);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.footer .footer-top .follow-us .follow-links ul .youtube {
  background-image: url(/images/youtube-play.svg?80b68ecbe2c2f55491fb218c586686ac);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.footer .footer-top .navigation-footer ul {
  list-style: none;
  margin: 0;
  display: flex;
  text-transform: uppercase;
}
.footer .footer-top .navigation-footer ul li {
  margin-right: 30px;
}
.footer .footer-top .navigation-footer ul li:last-child {
  margin-right: 0;
}
.footer .footer-bottom {
  opacity: 0.8;
  text-align: center;
  font-size: 20px;
}

/*Ниже разные анимации*/
.fade-leave-active,
.fade-enter-active {
  transition: all 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.auth-leave-active,
.auth-enter-active {
  transition: all 0.5s ease;
}

.auth-enter-from {
  font-size: 0;
  transform: scale(0);
}

.auth-leave-to {
  opacity: 0;
}
